<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="logBaseDir">${sys:user.home}/.accounting</Property>
    <Property name="debug_log_file">${logBaseDir}/accounting.log</Property>
    <Property name="business_log_file">${logBaseDir}/audit.log</Property>
  </Properties>
	<Appenders>
	    <File name="accounting_log" fileName="${debug_log_file}">
	      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n" />
	    </File>
	    <File name="business_log" fileName="${business_log_file}">
	      <PatternLayout pattern="%msg%n" />
	    </File>
	</Appenders>
	<Loggers>
		<Logger name="de.tfsw.accounting.service.BusinessLogger" level="info" additivity="false">
			<AppenderRef ref="business_log" />
		</Logger>
		<Logger name="de.tfsw.accounting" level="debug" additivity="false">
			<AppenderRef ref="accounting_log" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="accounting_log" />
		</Root>
	</Loggers>
</Configuration>