<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tfsw.accounting.elster.elsterApdapter" name="%elsterAdapter.extension.point.name" schema="schema/de.tfsw.accounting.elster.elsterApdapter.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.tfsw.accounting.elster.commandCategory"
            name="%ustva.command.category.name">
      </category>
      <command
            categoryId="de.tfsw.accounting.elster.commandCategory"
            id="de.tfsw.accounting.elster.ustvaCommand"
            name="%ustva.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.tfsw.accounting.elster.UStVAHandler"
            commandId="de.tfsw.accounting.elster.ustvaCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.tfsw.accounting.ui.main.menu.window">
         <menu
               id="de.tfsw.accounting.elster.menus.main"
               label="%ustva.menu.label"
               mnemonic="%ustva.menu.mnemonic">
            <command
                  commandId="de.tfsw.accounting.elster.ustvaCommand"
                  icon="icons/transmit_blue.png"
                  style="push">
            </command>
            <!--visibleWhen
                  checkEnabled="false">
               <systemTest
                     property="osgi.nl"
                     value="de_DE">
               </systemTest>
            </visibleWhen-->
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=accounting.main.toolbar.3">
         <toolbar
               id="de.tfsw.accounting.elster.toolbar">
            <command
                  commandId="de.tfsw.accounting.elster.ustvaCommand"
                  icon="icons/transmit_blue.png"
                  id="de.tfsw.accounting.elster.toolbar.ustva">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
