<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tfsw.accounting.reporting.reports" name="%reportsExtensionName" schema="schema/de.tfsw.accounting.reporting.reports.exsd"/>
   <extension
         point="de.tfsw.accounting.reporting.reports">
      <report
            id="de.tfsw.accounting.reporting.Invoice"
            modelClass="de.tfsw.accounting.model.Invoice"
            name="%report.invoice.name"
            template="reports/InvoiceTemplate.jasper">
      </report>
      <report
            id="de.tfsw.accounting.reporting.Letterhead"
            modelClass="de.tfsw.accounting.model.User"
            name="%report.letterhead.name"
            template="reports/Letterhead.jasper">
      </report>
      <report
            id="de.tfsw.accounting.reporting.CashFlowStatement"
            modelClass="de.tfsw.accounting.model.IncomeStatement"
            name="%report.cashFlowStatement.name"
            template="reports/CashFlowStatement.jasper">
      </report>
      <report
            id="de.tfsw.accounting.reporting.Revenue"
            modelClass="de.tfsw.accounting.model.Revenue"
            name="%report.revenue.name"
            template="reports/RevenueTemplate.jasper">
      </report>
      <report
            id="de.tfsw.accounting.reporting.Expenses"
            modelClass="de.tfsw.accounting.model.ExpenseCollection"
            name="%report.expenses.name"
            template="reports/ExpensesTemplate.jasper">
      </report>
      <report
            id="de.tfsw.accounting.reporting.IncomeStatement"
            modelClass="de.tfsw.accounting.model.IncomeStatement"
            name="%report.incomeStatement.name"
            template="reports/IncomeStatementDetailsTemplate.jasper">
      </report>
   </extension>
</plugin>
