<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.togginho.accounting.ui.AccountingApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="de.togginho.accounting.ui.Perspective"
            id="de.togginho.accounting.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.togginho.accounting.ui.application"
            name="%product.name">
         <property
               name="windowImages"
               value="icons/Ledger_16x16.png,icons/Ledger_32x32.png">
         </property>
         <property
               name="appName"
               value="%product.name">
         </property>
         <property
               name="aboutImage"
               value="icons/Ledger_32x32.png">
         </property>
         <property
               name="aboutText"
               value="Togginho Accounting About Text">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.file.label"
               mnemonic="%menu.file.mnemonic">
            <menu
                  label="%menu.file.new.label">
               <command
                     commandId="org.eclipse.ui.newWizard"
                     icon="icons/group_add.png"
                     label="%menu.file.new.client.label"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="de.togginho.accounting.ui.wizard.NewClientWizard">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     icon="icons/page_add.png"
                     label="%menu.file.new.invoice.label"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="de.togginho.accounting.ui.wizard.NewInvoiceWizard">
                  </parameter>
               </command>
               <separator
                     name="newSubMenuSep1"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="%menu.file.new.other.label"
                     style="push">
               </command>
            </menu>
            <separator
                  name="fileMenuSep1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%command.save.label"
                  style="push">
            </command>
            <separator
                  name="fileMenuSep2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.exit.label"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.window.label"
               mnemonic="%menu.window.mnemonic">
            <command
                  commandId="de.togginho.accounting.ui.user.OpenUserEditor"
                  icon="icons/user_suit.png"
                  label="%command.editUser.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/group.png"
                  label="%command.viewClients.label"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.togginho.accounting.ui.client.ClientView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/page.png"
                  label="%command.viewInvoices.label"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.togginho.accounting.ui.invoice.InvoiceView">
               </parameter>
            </command>
         </menu>
         <menu
               label="%menu.help.label"
               mnemonic="%menu.help.mnemonic">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="%menu.help.help.label"
                  style="push">
            </command>
            <separator
                  name="helpMenuSep1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="%menu.help.about.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="accounting-ui-rcp.toolbar1">
            <command
                  commandId="de.togginho.accounting.ui.user.OpenUserEditor"
                  icon="icons/user_suit.png"
                  label="%command.editUser.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/group.png"
                  label="%command.viewClients.label"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.togginho.accounting.ui.client.ClientView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/page.png"
                  label="%command.viewInvoices.label"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.togginho.accounting.ui.invoice.InvoiceView">
               </parameter>
            </command>
         </toolbar>
         <separator
               name="main.toolbar.separator1">
         </separator>
         <toolbar
               id="accounting-ui-rcp.toolbar2">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/page_add.png"
                  label="%menu.file.new.invoice.label"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="de.togginho.accounting.ui.wizard.NewInvoiceWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/group_add.png"
                  label="%menu.file.new.client.label"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="de.togginho.accounting.ui.wizard.NewClientWizard">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.togginho.accounting.ui.client.ClientView">
         <command
               commandId="de.togginho.accounting.ui.client.NewClientCommand"
               icon="icons/group_add.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.togginho.accounting.ui.client.ClientView">
         <command
               commandId="de.togginho.accounting.ui.client.NewClientCommand"
               icon="icons/group_add.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.togginho.accounting.ui.client.ClientView">
         <command
               commandId="de.togginho.accounting.ui.client.NewClientCommand"
               icon="icons/group_add.png"
               style="push">
         </command>
         <separator
               name="clientView.popupMenu.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.togginho.accounting.ui.client.EditClientCommand"
               icon="icons/group_edit.png"
               label="%command.editClient.label"
               style="push">
         </command>
         <command
               commandId="de.togginho.accounting.ui.client.DeleteClientCommand"
               icon="icons/group_delete.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.togginho.accounting.ui.invoice.InvoiceView">
         <command
               commandId="de.togginho.accounting.ui.invoice.NewInvoiceCommand"
               icon="icons/page_add.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.togginho.accounting.ui.invoice.InvoiceView">
         <command
               commandId="de.togginho.accounting.ui.invoice.NewInvoiceCommand"
               icon="icons/page_add.png"
               style="push">
         </command>
         <separator
               name="invoiceView.popupMenu.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.togginho.accounting.ui.invoice.EditInvoiceCommand"
               icon="icons/page_edit.png"
               style="push">
         </command>
         <command
               commandId="de.togginho.accounting.ui.invoice.CopyInvoiceCommand"
               icon="icons/page_copy.png"
               style="push">
         </command>
         <separator
               name="invoiceView.popupMenu.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.togginho.accounting.ui.invoice.InvoiceToPdfCommand"
               icon="icons/page_white_acrobat.png"
               style="push">
         </command>
         <command
               commandId="de.togginho.accounting.ui.invoice.SendInvoiceCommand"
               icon="icons/page_go.png"
               style="push">
         </command>
         <command
               commandId="de.togginho.accounting.ui.invoice.MarkInvoiceAsPaidCommand"
               icon="icons/money.png"
               style="push">
         </command>
         <separator
               name="invoiceView.popupMenu.separator3"
               visible="true">
         </separator>
         <command
               commandId="de.togginho.accounting.ui.invoice.CancelInvoiceCommand"
               icon="icons/cancel.png"
               style="push">
         </command>
         <command
               commandId="de.togginho.accounting.ui.invoice.DeleteInvoiceCommand"
               icon="icons/page_delete.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.togginho.accounting.ui.user.UserEditor"
            default="false"
            icon="icons/user_edit.png"
            id="de.togginho.accounting.ui.user.UserEditor"
            name="%editor.user.name">
      </editor>
      <editor
            class="de.togginho.accounting.ui.client.ClientEditor"
            default="false"
            icon="icons/group_edit.png"
            id="de.togginho.accounting.ui.client.ClientEditor"
            name="%editor.client.name">
      </editor>
      <editor
            class="de.togginho.accounting.ui.invoice.InvoiceEditor"
            default="false"
            icon="icons/page_edit.png"
            id="de.togginho.accounting.ui.invoice.InvoiceEditor"
            name="%editor.invoice.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.togginho.accounting.ui.user.OpenUserEditorCommand"
            id="de.togginho.accounting.ui.user.OpenUserEditor"
            name="%command.editUser.name">
      </command>
      <command
            defaultHandler="de.togginho.accounting.ui.client.NewClientCommand"
            id="de.togginho.accounting.ui.client.NewClientCommand"
            name="%command.newClient.name">
      </command>
      <category
            id="de.togginho.accounting.ui.client"
            name="%commandCategory.client.name">
      </category>
      <command
            id="de.togginho.accounting.ui.client.EditClientCommand"
            name="%command.editClient.name">
      </command>
      <command
            id="de.togginho.accounting.ui.client.DeleteClientCommand"
            name="%command.deleteClient.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            defaultHandler="de.togginho.accounting.ui.invoice.NewInvoiceCommand"
            id="de.togginho.accounting.ui.invoice.NewInvoiceCommand"
            name="%command.newInvoice.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.EditInvoiceCommand"
            name="%command.invoice.edit">
         <commandParameter
               id="invoiceNumber"
               name="%command.invoice.edit.param"
               optional="true">
         </commandParameter>
      </command>
      <category
            id="de.togginho.accounting.ui.invoice"
            name="%commandCategory.invoice.name">
      </category>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.DeleteInvoiceCommand"
            name="%command.invoice.delete.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.InvoiceToPdfCommand"
            name="%command.invoice.toPdf.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.SendInvoiceCommand"
            name="%command.invoice.send.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.CopyInvoiceCommand"
            name="%command.invoice.copy.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.MarkInvoiceAsPaidCommand"
            name="%command.invoice.markAsPaid.name">
      </command>
      <command
            categoryId="de.togginho.accounting.ui.invoice"
            id="de.togginho.accounting.ui.invoice.CancelInvoiceCommand"
            name="%command.invoice.cancel.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.togginho.accounting.ui.client.ClientsView"
            icon="icons/group.png"
            id="de.togginho.accounting.ui.client.ClientView"
            name="%view.clients"
            restorable="true">
      </view>
      <view
            class="de.togginho.accounting.ui.invoice.InvoiceView"
            icon="icons/page.png"
            id="de.togginho.accounting.ui.invoice.InvoiceView"
            name="%view.openInvoices"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.togginho.accounting.ui.wizard"
            class="de.togginho.accounting.ui.wizard.NewClientWizard"
            icon="icons/group_add.png"
            id="de.togginho.accounting.ui.wizard.NewClientWizard"
            name="%new.client.wizard.label">
      </wizard>
      <wizard
            category="de.togginho.accounting.ui.wizard"
            class="de.togginho.accounting.ui.wizard.NewInvoiceWizard"
            icon="icons/page_add.png"
            id="de.togginho.accounting.ui.wizard.NewInvoiceWizard"
            name="%new.invoice.wizard.label">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="de.togginho.accounting.ui.AccountingSplashHandler"
            id="de.togginho.accounting.ui.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="de.togginho.accounting.ui.product"
            splashId="de.togginho.accounting.ui.splashHandler">
      </splashHandlerProductBinding>
   </extension>
      <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="selectionIsInvoice">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="de.togginho.accounting.model.Invoice">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="invoiceIsSelectedOrEdited">
            <or>
                <with variable="activeEditorId">
                    <equals value="de.togginho.accounting.ui.invoice.InvoiceEditor" />
                </with>
                <with variable="selection">
                   <iterate ifEmpty="false">
                      <test property="de.togginho.accounting.ui.invoice.canBeDeleted" />
                   </iterate>
                </with>
            </or>
      </definition>
      <definition
            id="selectionIsClient">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="de.togginho.accounting.model.Client">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.togginho.accounting.ui.invoice.InvoicePropertyTester"
            id="de.togginho.accounting.ui.invoice.invoicePropertyTester"
            namespace="de.togginho.accounting.ui.invoice"
            properties="canBeDeleted, canBeCancelled, canBePaid, canBeExported"
            type="de.togginho.accounting.model.Invoice">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.togginho.accounting.ui.client.EditClientCommand"
            commandId="de.togginho.accounting.ui.client.EditClientCommand">
         <enabledWhen>
            <reference
                  definitionId="selectionIsClient">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.client.DeleteClientCommand"
            commandId="de.togginho.accounting.ui.client.DeleteClientCommand">
         <enabledWhen>
            <reference
                  definitionId="selectionIsClient">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.DeleteInvoiceCommand"
            commandId="de.togginho.accounting.ui.invoice.DeleteInvoiceCommand">
         <enabledWhen>
              <iterate>
                 <test property="de.togginho.accounting.ui.invoice.canBeDeleted" />
              </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.InvoiceToPdfCommand"
            commandId="de.togginho.accounting.ui.invoice.InvoiceToPdfCommand">
         <enabledWhen>
           <iterate>
              <test
                    property="de.togginho.accounting.ui.invoice.canBeExported">
              </test>
           </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.EditInvoiceCommand"
            commandId="de.togginho.accounting.ui.invoice.EditInvoiceCommand">
         <enabledWhen>
            <reference
                  definitionId="selectionIsInvoice">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.SendInvoiceCommand"
            commandId="de.togginho.accounting.ui.invoice.SendInvoiceCommand">
         <enabledWhen>
           <iterate>
              <test
                    property="de.togginho.accounting.ui.invoice.canBeExported">
              </test>
           </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.CopyInvoiceCommand"
            commandId="de.togginho.accounting.ui.invoice.CopyInvoiceCommand">
         <enabledWhen>
            <reference
                  definitionId="selectionIsInvoice">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.MarkInvoiceAsPaidCommand"
            commandId="de.togginho.accounting.ui.invoice.MarkInvoiceAsPaidCommand">
         <enabledWhen>
           <iterate>
              <test
                    property="de.togginho.accounting.ui.invoice.canBePaid">
              </test>
           </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="de.togginho.accounting.ui.invoice.CancelInvoiceCommand"
            commandId="de.togginho.accounting.ui.invoice.CancelInvoiceCommand">
         <enabledWhen>
           <iterate>
              <test
                    property="de.togginho.accounting.ui.invoice.canBeCancelled">
              </test>
           </iterate>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
