<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="%product.name"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://de.tfsw.accounting.ui/de.tfsw.accounting.ui.AccountingE4UILifeCycle">
         </property>
         <property
               name="appName"
               value="%product.name">
         </property>
         <property
               name="aboutImage"
               value="aboutimage.png">
         </property>
         <property
               name="aboutText"
               value="%aboutTextBla">
         </property>
         <property
               name="windowImages"
               value="icons/accounting_16.png,icons/accounting_32.png,icons/accounting_48.png,icons/accounting_64.png,icons/accounting_128.png,icons/accounting_256.png">
         </property>
      </product>
   </extension>

</plugin>
