.editorWindow {
	/*background-color: #e3efff;*/
	background-color: white; /*#f0f4f0;*/
}

.editorHeader {
	background-color: white;
}

.editorTitle {
	font-size: 18;
	font-weight: bold;
	background-color: white;
}

.editorDesc {
	font-size: 9;
	background-color: white;
}

.editorGroup {
	background-color: #f9f9f9;
}

.editorGroupTitle {
	font-size: 14;
	font-weight: bold;
	background-color: #f9f9f9;
}
